
.hehe{
    background-color: rgb(252, 239, 223);
    height: 250px;
    width: 1515px;
    justify-content: center;
    padding: 0px;
    margin-top: 320px;
   
  }
h1.Me{
  
   
    font-family:cursive;
    text-align: center;
    font-size: 50px;
   
    
  }
  h1.new{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 15;
    font-size: 20px;
  
   
  }
  