.Speakers{
    position: absolute;
    top: 200%;
}
.learners{
    background-color: black;
    width: 100%;
    height: 1200px;
}
h1.me{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  
   position: relative;
   left: 230%;
   
}
.speaker1{
    position: absolute;
    top: 220%;
    left: 60px;
}
.speaker2{
    position: absolute;
    top: 220%;
    left: 42%;
}
h2{
    margin: 5px;
}
.speaker3{
    position: absolute;
    left: 70%;
    top: 220%;
}
.speaker4{
    position: absolute;
    top: 283%;
    left: 5%;

}
.speaker5{
    position: absolute;
    left: 42%;
    top: 280%;
    
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2.marie{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 22%;
  
}
h2.post4{
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    left: 22%;
    position: relative;
    font-size:20px;
}
h2.Edward{
    font-size: 22px;
    left: 15%;
    position: relative;
}
h2.post5{
    position: relative;
   opacity: 0.7;
   font-size: 18px;
   font-size: 22px;
   left: 15%;
}
h2.post3{
    opacity: 0.7;
    font-size:18px ;
}
.speaker6{
    position: absolute;
    left: 77%;
    top: 280%;
    
}
img.person5{
    height: 273px;
    width: 273px;
}
img.person4{
    height: 273px;
    width: 273px;
}
img.person6{
    height: 270px;
    width: 270px;
}
h2.robert{
    position: relative;
    left: 60%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2.post2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
    left: 60%;
    position: relative;
    font-size: 18px;
}

img.person1{
    width: 270px;
    height: 270px;
    position: relative;
    left: 7%;
}
img.person2{
    width: 260px;
    height: 260px;

  
}
h2.alexia{
    color: white;
    position: relative;
    
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
h2.post{
    color: white;
    
    position: relative;
    margin-left: 20%;
    opacity: 0.6;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
img.person3{
    width: 260px;
    height: 260px;
  
    left: 43%;
    top: 15%;
    position: relative;
}
h2.david{
    position:absolute;

    font-family: Arial, Helvetica, sans-serif;
    
    left: 15%;
    color: white;
}
h2.post1{
    color:white ;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: 0.6;
    margin-top: 35px;
   left: 15%;
}
